/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\0000310}}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\0000318}}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\0000329}}
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\0000338}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\0000354}}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\0000368}}
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\0000384}}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\0000390}}
.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\0000399}}
.clearfix {
  *zoom: 1; }

/*
 * From bootstrap
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\00003106}}
.collapse {
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\00003109}}
  .collapse.in {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\00003113}}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\00003126}}
.clearboth {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_helpers\.scss}line{font-family:\00003148}}
.inline {
  display: inline-block; }

/*
 * Colors
 *
 * refer psds
 *
 */
/*
 * Typography
 *
 *
 * Preferred fonts are from OpenSans' family
 *
 * Web font family:
 *   name: "Open Sans"
 *   weights:
 *      400 normal (regular)
 *      700 bold   (bold)
 *
 */
/* font families */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/variables\/_typography\.scss}line{font-family:\0000319}}
body, button {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }

/* font usage */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/variables\/_typography\.scss}line{font-family:\0000324}}
body {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\000036}}
body {
  padding-top: 8rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000310}}
.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000317}}
.question-list ul {
  list-style: none;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000323}}
.question-list .count {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000329}}
.question-page .question-list {
  border-top: 1px solid #eaecef;
  margin: 30px 0 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000334}}
.question-page .question-item {
  border-bottom: 1px solid #eaecef;
  margin: 20px 0;
  padding: 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000342}}
.comment-list ul {
  list-style: none;
  margin: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000348}}
.comment-list li {
  border-top: 1px solid #eaecef;
  margin: 10px 0;
  padding: 10px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000356}}
.controls li {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000362}}
.tags li {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000367}}
.community-post {
  border-bottom: 1px solid #ccc;
  padding: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000374}}
.question-stats ul {
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000378}}
.question-stats .controls,
.question-stats li {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000383}}
.question-stats li {
  width: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000390}}
.vote span,
.accept-answer span {
  font-size: 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000395}}
.voted {
  color: #5cb85c; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\0000399}}
.poster-details {
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\00003103}}
.comment-form {
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\00003106}}
  .comment-form.active {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/eray\.scss}line{font-family:\00003110}}
  .comment-form textarea {
    height: 100px;
    width: 100%; }
