/*
 * Colors
 *
 * refer psds
 *
 */
/* normal */
/* grays */
/* oranges */
/* blues */
/* purples */
/* greens */
/* reds */
/*
 * Scale
 *
 * Scaling percentages
 *
 */
/*
 * Typography
 *
 * refer psd
 *
 * Preferred fonts are from OpenSans' family
 *
 * Web font family:
 *   name: "Open Sans"
 *   weights:
 *      400 normal (regular)
 *      700 bold   (bold)
 *
 */
/* font families */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/variables\/_typography\.scss}line{font-family:\0000320}}
body, button {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }

/* font usage */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/variables\/_typography\.scss}line{font-family:\0000325}}
body {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0; }
