{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {% include 'eray/partials/_filter.html' with order=order %}

            {% include 'eray/partials/_pager.html' with pager=questions query_string='&order='|add:order %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 question-list">
            {% include 'eray/partials/_questions_list.html' with questions=questions %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include 'eray/partials/_pager.html' with pager=questions query_string='&order='|add:order %}
        </div>
    </div>
{% endblock content %}