{% extends 'base.html' %}

{% load staticfiles %}

{% block body_class %}
question-page community-page
{% endblock body_class %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="ask-question">
                {% include 'partials/_messages.html' with form=post_question_form %}
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {% if post_question_form.non_field_errors %}
                        <div class="notification error">{{ post_question_form.non_field_errors }}</div>
                    {% endif %}

                    {% include 'eray/partials/forms/_formfield.html' with field=post_question_form.title label='Title' for='title' %}

                    {% include 'eray/partials/forms/_formfield.html' with field=post_question_form.body label='Question' for='body' wrapper_classes='markdown' %}

                    <div class="autocomplete" rel="{% url 'tag-autocomplete' %}">
                        {% include 'eray/partials/forms/_formfield.html' with field=post_question_form.question_tags label='Tags' for='question_tags' %}
                    </div>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">

</div>
{% endblock content %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<link href="{% static 'css/vendor/simplemde.min.css' %}?v={% now "U" %}" rel="stylesheet">
<script src="{% static 'js/vendor/simplemde.min.js' %}"></script>
{% endblock extra_js %}