{% extends 'base.html' %}

{% load staticfiles achievements action_stream subscriptions %}

{% block content %}
    <div class="row">
        <div class="col-md-12 profile-wrap">
            <h1>{{ user.profile.get_long_name }}</h1>
            <h2>{{ user.profile.get_username }}</h2>
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}">
            {% endif %}
            <h3>Achievements</h3>
            {% achievements profile=user.profile %}

            <h3>Action Stream</h3>
            {% action_stream profile=user.profile %}

            {% subscriptions profile=user.profile %}
        </div>
    </div>
{% endblock content %}