{% if action_stream %}
    <ul class="action-stream">
        {% for action in action_stream %}
            <li>
                {% if action.action_type == 'COMMENT' %}
                    Commented on {% if action.comment.parent.question %}{% include 'eray/partials/_question_link.html' with question=action.comment.parent.question %}{% else %}{% include 'eray/partials/_question_link.html' with question=action.comment.parent.answer.parent %}{% endif %}.
                {% elif  action.action_type == 'ASK' %}
                    Asked {% include 'eray/partials/_question_link.html' with question=action.question %}.
                {% elif action.action_type == 'ANSWER' %}
                    Answered {% include 'eray/partials/_question_link.html' with question=action.answer.parent %}.
                {% elif action.action_type == 'ACCEPTED' %}
                    Accepted an answer on {% include 'eray/partials/_question_link.html' with question=action.answer.parent %}.
                {% elif action.action_type == 'WAS_ACCEPTED' %}
                    Answer on {% include 'eray/partials/_question_link.html' with question=action.answer.parent %} was accepted.
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="dust">Nothing here.</p>
{% endif %}