{% load staticfiles %}

<li class="community-post">
    <div class="community-post-wrap clearfix row">
        <!-- Start .post -->
        <div class="post col-md-8">
            <h3><a href="{% url 'question' pk=question.pk %}">{{ question.title }}</a></h3>
            <div class="post-info clearfix">
                <ul class="tags pull-left">
                    {% for tag in question.tags.all %}
                        <li>{% include 'eray/partials/_tag.html' with tag=tag %}</li>
                    {% endfor %}
                </ul>
                <div class="poster pull-right">
                    <p>Asked by {% include 'eray/partials/_profile_link.html' with user=question.user %} @{{ question.created_at|date }}</p>
                </div>
            </div>
        </div>
        <!-- End .post -->

        <!-- Start .controls -->
        <div class="controls col-md-4">
            <ul class="clearfix">
                <li class="views">
                    <p class="count">{{ question.view_count }}</p>
                    <p class="count-action">Views</p>
                </li>
                <li class="votes">
                    <p class="count">{{ question.vote_count }}</p>
                    <p class="count-action">Votes</p>
                </li>
                <li class="answers">
                    <p class="count">{{ question.answer_count }}</p>
                    <p class="count-action">Answers</p>
                </li>
            </ul>
        </div>
        <!-- End .controls -->
    </div>
</li>